<% provide(:title, "About") %>
<h1>About The Author</h1>
<p>
  My name is Daniel and I currently work as an on-site field technician in the NYC metro area. I have
  worked with my company for nine years and i've installed TV's, connected sorround sound systems,
  repaired TV's, diagnosed network issues, mounted TV's on walls, and worked on different types of
  electronic devices that everyone uses on a day to day basis. I own a XBR75X900E Sony UHD 4K TV and I
  consider myself an expert in technology that people use in their home.  Although I can't guarantee
  everything on this website is %100 accurate, I can tell you that I have done research, run into many
  different types of issues, and I have a great deal of knowledge About 4K TV.
</p>