<% provide(:title, "Bit rate") %>
<h1>Bit rate and Frame rate</h1>
<p>
  Framerate(FPS) stands for frames per second, and Bit rate stands for the amount of bits you are sending a second.
  In order to explain this properly we need to start by talking about how a picture is sent to a display.  Devices
  that are able to send a picture to a monitor or TV basically sends multiple pictures(frames) in a rapid sequence
  and when you put it together your eyes perceive the display to be a video.  Frames per second is essentially the
  same as a flip book except it's pages per second that your flipping.  Generally the higher the frame rate the
  better picture you will get on your display, however your display's refresh rate is just as important as the 
  frame rate.  A display will generally have a refresh rate that is listed as 30hz, 60hz, 120hz, or higher.  A
  refresh rate of 60hz basically states the display can refresh the display up to 60 times a second, which means the
  picture will be smoother.  If the FPS or refresh rate is too low the picture on the display can seem a bit choppy.
  A perfect example is when you watch a baseball player take a swing at a pitch, because the bat moves extremely
  fast a lower refresh rate or FPS can result in a bit of a choppy or jumpy picture.
  
  When your monitor/TV is able to display a picture they are essentially receiving data from a device, this data is
  composed of bits, the more bits your device is able to send to your display the better picture you will get.
  This is where frame rate, bit rate, and refresh rate all come together, because you can only send as many bits as
  your frame rate, and your frame rate can only be as good as your refresh rate.
</p>