<% provide(:title, "Contact") %>
<h1><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-5305764191809171",
  enable_page_level_ads: true
  });
</script>
  Contact</h1>
<p>
  You can reach me on 
  <a href="https://twitter.com/dball1126">twitter.</a>
</p>