<% provide(:title, "File size") %>
<h1>File size of 4K Content</h1>
<p>

The file size of 4K content is surprisingly important.  If a file states
it is in a certain format it is not absolute because content can be 
streamed at different rates resulting in different outputs to the
display.  When you film or record a video you can measure the quality
by analyzing the amount of bits per second you can send to a device
digitally.  The higher the bitrate, the better the picture quality no
matter it's classification of SD, HD, or 4K.  The file size of content
in standard definition can typically range between 1GB-2GB, high 
definition can be range between 3GB-7GB, Blu Ray can range between 25GB-50GB,
and 4K would most likely range between 50GB-100GB.  The bitrate that
content is streamed in or recorded in is extremely important and
measuring the file size of content can be an effective way in
measuring the picture quality.  To give you an example it is my belief
and understanding that Netflix recently streamed 4k content at 7GB an
hour giving a 2 hour 4K video a file size of 14GB, but if you buy a 
4K video from a store the file size of a two hour video will range 
between 50GB-100GB making the picture quality much better.  
</p>