<%= provide(:title, "HDR") %>

<h2>What is HDR?</h2>
   
<p>
  High Dynamic Range(HDR) is a new type of technology that many TV's are equipped with.  It basically means colors are more
  vibrant, the contrast is better, you can see darker blacks, and you can see brighter whites.  In the past many TV's had 
  issues with contrast, and specifically darker scenes in a movie were hard to see.  The range of colors is greater if a TV
  is equipped with HDR, and as a result your TV is able to output a more natural and real life picture on the screen.  Think 
  about this, there is the color red but how many different shades of red are there?  A TV equipped with HDR allows it to
  ouput many more different shades of colors/blacks/whites then traditional TV's.
</p>