<h1>Home</h1>
<h3>What is 4K:</h3>
<p>
  You must understand what 480, 720, and 1080 is because 4K is basically 2160.
  
  A TV/device that is in 480 can output output video at a horizontal resolution of 480 lines. 
  This means the TV can output 480 lines of scan resolution, so obviously the more you have the better
  picture you will get.  Older CRT TV's and a picture considered standard definition is normally 480P/i or lower, and it
  normally has an aspect ratio of 4:3(square picture just like the older TV's).  The number such as 480 refers to the number
  of pixels, so a tv with 480 pixels can have around 640(width) x 480(length) pixels on a screen with an aspect
  ratio of 4:3((480/3) * 4, (480/3) * 3), but a newer TV which is wider and has an aspect ratio of 16:9, it can have around 
  854 X 480 pixels in the screen resolution.
  
  Now we can talk about 720, 1080 and 2160(4K).  The newer TV's are wider and have an aspect ratio of 16x9, which means the
  amount of pixels a TV outputs in 720 would be ((720/9)*16, (720/9) * 9), which = 1280 x 720, and a TV/device that ouputs
  resolution at 1080, would have 1920 x 1080 pixels, and a TV/device that can output video at 4K(2160) would have 
  3840 x 2160 pixels.
  
  
</p>