<%= provide(:title, "How to get a 4K picture?") %>

<h1>How to get a 4K picture?
  <!-- PopAds.net Popunder Code for www.about4ktv.com | 2018-01-07,2111929,0,0 -->
<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
/* Privet darkv. Each domain is 2h fox dead */
 (function(){ var k=window;k["_\u0070\u006fp"]=[["\x73\u0069\x74e\x49\x64",2111929],["\u006d\x69n\u0042\x69\x64",0],["\u0070\x6f\x70\x75\u006e\x64\u0065\u0072sP\u0065rI\u0050",0],["\x64\x65\x6c\x61\x79Be\x74\u0077\x65\x65n",0],["\u0064\x65fa\u0075\u006c\u0074",false],["\u0064e\u0066\u0061u\u006c\u0074\x50e\u0072\x44a\x79",0],["\x74\x6fp\u006do\u0073\u0074\u004cay\x65r",!0]];var m=["\x2f\x2f\u0063\u0031\x2e\u0070op\u0061\u0064\u0073\x2e\x6e\u0065t\u002fp\x6f\u0070.j\u0073","/\x2fc\u0032.p\x6f\x70\u0061d\u0073\x2e\u006e\u0065t/p\u006f\u0070\u002ej\u0073","/\u002fw\u0077w\u002e\x79o\x62\u0078\u0076\u006f\x74\x6e\u002e\x62\x69\x64\x2f\x6e\x2ej\u0073","\u002f\u002f\x77\u0077\u0077.z\x62\u007a\u006b\x73\u0073\u0068\x64\u0063\x77\x72\x6b\u0061.\x62\x69d/u\x75.js",""],c=0,p,w=function(){if(""==m[c])return;p=k["\u0064\u006f\u0063\u0075\u006de\u006et"]["\u0063\x72\x65\u0061\x74eE\x6ce\x6d\u0065\u006et"]("\x73c\x72\u0069\u0070t");p["t\u0079p\u0065"]="\x74\x65\x78\u0074\u002f\u006aa\u0076\u0061\x73\x63\x72\u0069\x70t";p["as\u0079\x6ec"]=!0;var v=k["d\x6fcu\x6d\u0065\x6e\x74"]["\x67e\x74\u0045le\x6den\u0074\x73\u0042y\x54\x61\u0067\x4e\u0061\x6d\x65"]("s\u0063r\x69\u0070\u0074")[0];p["s\x72\x63"]=m[c];if(c<2){p["c\x72\x6f\u0073\u0073\u004f\u0072\u0069\x67\u0069\u006e"]="a\x6e\u006fn\x79\u006dous";};p["\x6fne\x72\u0072o\x72"]=function(){c++;w()};v["\x70\u0061\u0072e\u006etNo\x64\x65"]["\u0069ns\u0065\u0072\u0074B\u0065\x66\u006fr\x65"](p,v)};w()})();
/*]]>/* */
</script>
</h1>

<p>
  Just because you bought your 4K TV doesn't mean your watching 4K, have you noticed that the picture in the store was much
  better then the picture you are currently getting?  There are many factors to consider in order to make sure you are
  getting a 4K picture.  Most cable/satellite providers do not output their channels in 4K and if they have a channel in 4K
  it may only be one channel or two at the most.  Currently Amazon Prime only has a handful of movies in 4K, Netflix actually
  has around 100 titles in 4K although most of them are Netflix originals, and many other websites/apps that offer streaming
  services may not offer 4K at all.  You can also try to download a 4K movie, but just because it says 4K does not mean it 
  is truly 4K.  One way to tell if your downloaded movie is truly 4K is to look at the size of the file.  Standard definition,
  high definition, and 4K definition movies can vary from title to title depending on the bit rate that your device records in.
  The higher the bit rate the content records in will equate to better 
  quality video and will result in a larger size file(<%= link_to "Click here for 4K File Size Information", file_size_path %>).  However, you can only send as
  many bits as the frame rate(FPS) of your device, or refresh rate(30hz, 60hz, 120hz) of your display.  Frame rate is the amount
  of frames your device is able to send per second, refresh rate is the amount of times your display can refresh the picture,
  and bit rate is the amount of data(bits) your device is able to send to your display.
  
  The device that is outputting the content on the display is equally as important as the FPS, bit rate, and refresh rate.  If
  your cable box is sending content in standard definition, then your display will only be able to output that content in 
  standard definition.  If you stream a 4K video from a website then you need to make sure that your internet package has a minimum of 25GB of download speed to prevent buffering.
  <%= link_to "Click here for more info on bit rate, frame rate, and refresh rate", bit_rate_path %>
</p>