<%= provide(:title, "Ultra HD") %>

<h1>What is Ultra HD? What is Ultra HD Premium?</h1>

<p>
  Ultra HD is basically a set of a features and performance standards that allows a TV to provide a Ultra High Definition
  entertainment experience.  Years ago, many technology, entertainment, and electronic companies got together and created the
  Ultra High Definition Alliance(UHDA).  This alliance created this standard and devices that met this standard are allowed to
  use the Ultra HD Premimum logo when selling their TV's/devices.  Ultra HD started coming out around the same time as 4K, and
  many manufacturers primarily focused only on 4K resolution.  TV resolution is not the only feature important for the best
  possible picture.  Devices that are stamped with the Ultra HD Premium logo means they include HDR and have a wide color
  spectrum.
</p>