<%= provide(:title, "Where to get 4K") %>

<h1><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-5305764191809171",
  enable_page_level_ads: true
  });
</script>
  Where to get 4K</h1>

<p>
  Netflix has over 100 titles listed in 4K, but they are mostly Netflix
originals and as I understand they currently stream 4K at 7GB an hour.  
Keep in mind you will have to upgrade to the highest streaming package
which is around $11.99 in order to receive their 4K content.

Amazon Prime has 4K content, but they only have about 10-15 titles at
the moment.

Retail outlets sell 4K UHD movies on triple layered DVD's, and at the
moment this is probably the best picture that you can get on your TV. 
A 4K UHD DVD player is required as well as a 4K HDMI Cord.  

The XBOX One X and the PS4 PRO are both capable of handling 4K content.

Hulu currently does not have any 4K at this time, and I will not list
any cable providers because they normally only have about one channel
at the most in 4K, and I highly doubt this 4K content can compare to
the quality of the 4K UHD DVD.

You must realize that 4K content if streamed at the highest bit rate 
can go up to 300GB for a two hour movie, but 4K content at the time
being tends to range between 50GB-100GB for a two hour film, and our
Internet service providers cannot handle this amount of traffic.  This
is why 4K content at the time being is somewhat rare, and even if they
do have it they compress the files in order to deal with the traffic on
their network, hence the reason for the low bitrate on the 4K content
they release to the public.  Streaming video which includes 4K has a
significant disadvantage over a 4K UHD DISC on a DVD player, it's not
just the lower bitrate that the streaming videos normally have, it's
the fact that it's streaming at all, because the content is streaming
it's not considered a direct source and sometimes the picture becomes
pixelated due to interruption in the data that is being transmitted to
the TV over the network.  To me it appears that 4K UHD DVD will be
vital to people who demand the best picture possible in their home for
the next two years at the minimum.  Keep in mind it's possible that you
could be streaming 4K video and the data transmission drops which
results in a degration of picture quality, but the video keeps on
streaming making it hard for the user to catch on sometimes.
</p>